body { 
    font: 12px Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
    color: #3b1f06;
    line-height: 12px;
}

#title {
    height: 70px;
    width: 100%;
    background-color: #8888ff;
    color: #ffffff;
    text-align: center;
}

a:link, a:visited {
color: #000000; 
background-color: transparent;
text-decoration: none;
font-style: italic;
font-weight: bold;
}

a:hover {
text-decoration: underline;
}

#title a:link, #title a:visited {
color: #ffffff; 
}

img #mypic {
    float: left;
}

h1 {
padding: 15px 0 0 15px;
}

h3 {
padding: 0;
font-weight: bold;
}

#main { 
width: 100%;
padding: 10px 10px 10px 10px;
margin-top: 10px;
margin-left: 10px;
position: absolute;
}

#footer {
width: 100%;
font-style: italic;
font-size: 10px;
float: left;
}

#footer hr {
color: #8888ff;
background-color: #8888ff;
height: 2px;
border: none;
margin: 0;
}

#main_left {
width: 100px;
margin-top: 0px;
float: left;
text-align: center;
background-color: #88ff88;
top: 78px;
padding-top: 20px;
}

#main_left table{
border: 1px;
}

#main_right {
overflow-y: hidden;
overflow-x: hidden;
width: auto;
margin-top: 0px;
clear: right;
padding-top: 20px;
padding-left: 20px;
}

#main_right table, #main_right table th, #main_right table td {
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

#imgsearch {
    width: 20px;
    height: 20px;
}

table.search {
    position: absolute;
    top: 55px;
    right: 10px;
}
