/* GENERAL */

body {
	margin: 0;
	padding: 0;
}

			/* LINKS */


a:link {
	text-decoration: none;
	color: #000;
}

a:hover {

}

a:visited {
	color: #000;
}

/* HEADER */

#header {
	width: 100%;
	background-color: #ffffff;
	height: 178px;
	background-image: url(../img/title.png);
	background-repeat: no-repeat;
	background-position: 10%;
	text-align: right;
}

form input {
	float: right;
	margin: .5%;
	/*background-color: blue;*/
}

#logo{
	float: left;
	margin: .5%
}

#header h1 {
	margin: 0 10%;
	clear: right;
	position: relative;
 	top: 50%;
 	transform: translateY(-10%);
	font-family: "Avenir", "Futura", sans-serif;
	font-weight: 200;
	color: #303030;
 	/*background-color: green;*/
}

/* NAVIGATION */

#nav_bar {
	text-align: center;
}

#nav_bar ul {
	margin: 0;
	padding: 0;
}

#nav_bar li {
	display: inline-block;
	list-style-type: none;
	margin: 20px 40px;
}


/* CONTENT */

#content {
	width: 80%;
	margin: 0 auto;
	/*background: salmon;*/
}

/* FOOTER */

#footer {
	width: 80%;
	margin: 0 auto;
	background-color: lightblue;
}

.footer_float {
	float: left;
	width: 20%;
	text-align: center;
}

#footer ul {
	margin: 0;
	padding: 0;
}

#footer li {
	list-style-type: none;
}
